html {
  padding: 0;
  margin: 0;
  border: 0;
}

body {
  padding: 0;
  margin: 0;
  border: 0;
  background-color: var(--background-page-color);
  color: var(--text-color);
}

:root {
  --background-page-color: #999999;
  --calc-container-color: #ffffff;
  --text-color: #000000;
  --text-color-second: #707070;
  --math-button-background: #F6F7F9;
}

body.dark-theme {
  --background-page-color: #555555;
  --text-color: #ffffff;
  --text-color-second: #707070;
  --math-button-background: #4C4D50;
}

.content_center {
  display: flex;
  justify-content: center;
  margin-top: 10vh;
}

.calc_container {
  display: flex;
  flex-direction: column;
  width: 276px;
  height: 490px;
  background-color: var(--calc-container-color);
  border-radius: 20px;
  margin-top: 26px;
}

.upper_part {
  display: flex;
  height: 220px;
  width: 100%;
  border-radius: 20px 20px 0 0;
  background-color: green;
}

.bottom_part {
  display: flex;
  height: 100%;
  width: 100%;
  border-radius: 0 0 20px 20px;
  background-color: red;
}

.line {
  display: flex;
}

.math_button {
  width: 42px;
  height: 42px;
  border-radius: 50%;
  background: var(--math-button-background);
}