:root {
  --background-page-color: #666666;
  --background-main-color: #ffffff;
  --text-color: #000000;
  --text-color-second: #707070;
}

html {
  padding: 0;
  margin: 0;
  border: 0;
}

body {
  padding: 0;
  margin: 0;
  border: 0;
  background-color: var(--background-page-color);
  color: var(--text-color);
}

body.dark-theme {
  --background-page-color: #555555;
  --background-main-color: #000000;
  --text-color: #ffffff;
  --text-color-second: #707070;
}